[run]
branch = True
source = aodntools
omit =
    setup.py
    aodntools/__init__.py
    examples/*
    test_aodntools/*

[report]
exclude_lines =
    @abc.abstractmethod
    @abc.abstractproperty
    raise
    def __repr__
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
